<%
// ページ共通のデータ
const data = conf.common;

const page_meta = conf[slug]

-%>
  <!-- コンテンツここまで -->
  </main>
  <%-
  include('./_app-footer', {
    slug: slug,
  })
  -%>
  <script src="/natural-water/assets/js/vendor/jquery-3.6.0.min.js"></script>
  <script src="/natural-water/assets/js/vendor/swiper.min.js"></script>
  <script src="/natural-water/assets/js/all.js"></script>
  <%
  if(slug === "news" || slug === "top") {
  -%>
  <!-- <script src="/natural-water/assets/js/vendor/gsap.min.js"></script> -->
  <script src="/natural-water/assets/js/pages/news/index.js"></script>
  <script src="/natural-water/assets/js/pages/news/pagenation.js"></script>
  <%
  }
  -%>
</body>
</html>