// color
$base-color: #ffffff;
$text-color: #333333;
$bold-color: #222222;
$title-color: #21445B;
$text-gray: #666666;
$site-light-color: #99CAF7;
$site-color: #5EA3E2;
$accent-color: #E8204E;

$border-color: #707070;
$tag-color: #999999;