<%
//ページ個別の情報を読み込む
const slug = 'about-message'
const meta = conf[slug]
%>
<%-
  include('../../../components/common/_header.ejs', {
    slug: slug,
  })
-%>

<div class="l-content-top--lower">
  <div class="l-container">
    <%-
    include('../../../components/main/_third-lower-fv.ejs', {
      slug: slug,
    })
    -%>
  </div>
</div>

<section class="l-section--lv2">
  <div class="l-container">
    <div class="l-row--reverse">
      <div class="l-col--2">
        <h3 class="c-head__normal--h3">「安全なお水をあなたのもとに」</h3>
        <p class="c-text__normal--md">
          当社は「安全なお水をあなたのもとに」を経営理念にし、お客様一人一人
          に寄り添えるようなお水を提供できるよう努めております。<br>
          そしてその価値を世界に発信し続け価値を見いだす思いで事業を行なって
          まいりました。<br>
          これからも大切な資源を守り安全で美味しいお水を提供できるよう推進
          して参ります。
        </p>
        <p class="c-text__regular--md p-about-message__text-light">株式会社 NATURAL WATER</p>
        <p class="c-text__normal--lg p-about-message__text-lg">代表取締役社長 自然高志</p>
      </div>
      <div class="l-col--2">
        <p class="c-media"><img src="/natural-water/assets/img/about/img_about_link_01.jpg" alt="「安全なお水をあなたのもとに」" class="c-media__img"></p>
      </div>
    </div>
  </div>
</section>

<%-
include('../../../components/main/_excursion-link.ejs', {
  slug: slug,
})
-%>

<%-
  include('../../../components/common/_footer.ejs', {
    slug: slug,
  })
-%>