@use '../../../global';

.p-about {

}

.p-about__main {
  position: relative;

  & .p-about__main-img {
    position: relative;
    z-index: 1;
  }

  & .p-about__main-content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;

    @include global.sp() {
      position: static;
      bottom: inherit;
      left: inherit;
      z-index: inherit;
    }
  }
}