@use '../global';

.l-col {
  &--2 {
    width: calc(100% / 2 - 3%);

    @include global.sp() {
      width: 100%;
    }
  }

  &--3-2 {
    width: 31%;

    @include global.sp() {
      width: calc(100% / 2 - 10px);
    }
  }
}

[class^="l-col"] {
  > *:first-child {
    margin-top: 0;
  }
}