@use '../global';

%l-row {
  display: flex;
  flex-wrap: wrap;
}

.l-row {
  @extend %l-row;
  gap: 50px 6%;
  margin-top: 50px;

  @include global.sp() {
    gap: 40px 0;
    flex-direction: column;
    margin-top: 40px;
  }

  &--reverse {
    @extend %l-row;
    flex-direction: row-reverse;
    gap: 50px 6%;
    margin-top: 50px;

    @include global.sp() {
      gap: 40px 0;
      flex-direction: column-reverse;
      margin-top: 40px;
    }
  }

  &--3-2 {
    @extend %l-row;
    gap: 50px 3.5%;
    margin-top: 50px;

    @include global.sp() {
      gap: 40px 20px;
      margin-top: 40px;
    }
  }
}