<%
//ページ個別の情報を読み込む
const slug = 'about-profile'
const meta = conf[slug]
%>
<%-
  include('../../../components/common/_header.ejs', {
    slug: slug,
  })
-%>

<div class="l-content-top--lower">
  <div class="l-container">
    <%-
    include('../../../components/main/_third-lower-fv.ejs', {
      slug: slug,
    })
    -%>
  </div>
</div>

<div class="l-section--lv2">
  <div class="l-container">
    <div class="c-anchor-list">
      <ul class="c-anchor-list__list">
        <li class="c-anchor-list__item"><a href="#anc-01" class="c-anchor-list__link js-anc">会社概要</a></li>
        <li class="c-anchor-list__item"><a href="#anc-02" class="c-anchor-list__link js-anc">財務データ</a></li>
      </ul>
    </div>
    <p class="c-text__normal--md">
      NATURAL WATERの概要、財務データについてご紹介いたします。
    </p>
  </div>
</div>

<section class="l-section--lv3">
  <div class="l-container">
    <h2 id="anc-01" class="c-head__ja--h2">会社概要</h2>
    <table class="c-table">
      <colgroup>
        <col class="u-width--25 u-sp-width--35">
        <col class="u-width--75 u-sp-width--65">
      </colgroup>
      <tbody class="c-table__tbody">
        <tr>
          <th class="c-table__tbody-head">社名</th>
          <td class="c-table__tbody-body">株式会社 NATURAL WATER</td>
        </tr>
        <tr>
          <th class="c-table__tbody-head">本社</th>
          <td class="c-table__tbody-body">〒000-0000 東京都千代田区?丁目</td>
        </tr>
        <tr>
          <th class="c-table__tbody-head">創業</th>
          <td class="c-table__tbody-body">1995年(平成7年)</td>
        </tr>
        <tr>
          <th class="c-table__tbody-head">設立</th>
          <td class="c-table__tbody-body">2000年(平成12年 4月)</td>
        </tr>
        <tr>
          <th class="c-table__tbody-head">資本金</th>
          <td class="c-table__tbody-body">1000万円</td>
        </tr>
        <tr>
          <th class="c-table__tbody-head">代表者</th>
          <td class="c-table__tbody-body">代表取締役社長 自然高志</td>
        </tr>
        <tr>
          <th class="c-table__tbody-head">従業員数</th>
          <td class="c-table__tbody-body">100人(2023年2月1日現在)</td>
        </tr>
        <tr>
          <th class="c-table__tbody-head">事業内容</th>
          <td class="c-table__tbody-body">ミネラルウォーター等の飲料水の製造及び販売<br>
            各種サービスの提供</td>
        </tr>
        <tr>
          <th class="c-table__tbody-head">主要取引国/地域</th>
          <td class="c-table__tbody-body">アメリカ・カナダ・メキシコ・ブラジル・アルゼンチン・イギリス・ドイツ・フランス・韓国
            ・中国・フィリピン・タイ・インドネシア・インド</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="l-section--lv3">
  <div class="l-container">
    <h2 id="anc-02" class="c-head__ja--h2">財務データ</h2>
    <ul class="l-row">
      <li class="l-col--2">
        <h4 class="c-head__normal--h4">売上高</h4>
        <p class="c-media"><img src="/assets/img/about/img_graph.jpg" alt="売上高" width="540" height="324" loading="lazy" class="c-media__img"></p>
      </li>
      <li class="l-col--2">
        <h4 class="c-head__normal--h4">営業利益</h4>
        <p class="c-media"><img src="/assets/img/about/img_graph.jpg" alt="売上高" width="540" height="324" loading="lazy" class="c-media__img"></p>
      </li>
      <li class="l-col--2">
        <h4 class="c-head__normal--h4">純資産</h4>
        <p class="c-media"><img src="/assets/img/about/img_graph.jpg" alt="売上高" width="540" height="324" loading="lazy" class="c-media__img"></p>
      </li>
      <li class="l-col--2">
        <h4 class="c-head__normal--h4">総資産</h4>
        <p class="c-media"><img src="/assets/img/about/img_graph.jpg" alt="売上高" width="540" height="324" loading="lazy" class="c-media__img"></p>
      </li>
    </ul>
  </div>
</section>

<%-
include('../../../components/main/_excursion-link.ejs', {
  slug: slug,
})
-%>

<%-
  include('../../../components/common/_footer.ejs', {
    slug: slug,
  })
-%>